@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --color-accent: #eab308;
  --color-primary: #0c9cde;
  --color-secondary: #f1f5f9;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  font-family: "Roboto", sans-serif;
  grid-template:
    "sidebar header" auto
    "sidebar content" 1fr
    / 1fr 5fr;
}

.sidebar {
  background-color: var(--color-primary);
  color: white;
  display: grid;
  gap: 32px;
  grid-area: sidebar;
  grid-template-rows: auto auto 1fr;
  z-index: 2;
}

.sidebar-logo {
  padding: 16px;
}

.sidebar-logo svg {
  font-size: 3rem;
}

.sidebar-logo h1 {
  font-size: 2rem;
  margin: 0;
}

.sidebar-logo,
.sidebar-links a {
  align-items: center;
  display: grid;
  gap: 16px;
  grid-template-columns: 3rem 1fr;
}

.sidebar-links:last-of-type {
  align-self: end;
}

.sidebar-links a {
  color: #fff;
  font-size: 1.3rem;
  padding: 12px 16px;
  text-decoration: none;
}

.sidebar-links a:hover {
  background-color: var(--color-secondary);
  border-left: 5px solid var(--color-accent);
  color: black;
  padding-left: 11px;
}

.sidebar-links svg {
  font-size: 2rem;
  justify-self: center;
}

.header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  grid-area: header;
  z-index: 1;
}

.content {
  background-color: var(--color-secondary);
  grid-area: content;
  padding: 16px;
}

.card-container {
  width: 400px;
}

.card {
  background-color: #fff;
  border-left: 8px solid var(--color-accent);
  border-radius: 8px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  display: grid;
  padding: 24px;
}

.card h4 {
  font-size: 1.1rem;
}

.card h4,
.card p {
  margin: 0;
}

.card p {
  color: #525252;
  margin-top: 4px;
}

.card-buttons {
  justify-self: end;
  margin-top: 16px;
}

.card svg {
  font-size: 1.5rem;
}
